@media screen and (max-width:1200px) {
 .main-header__title{
    text-align: center;
 }
 .main-header__caption {
    text-align: center;
 }
 .main-header--keeper:first-child{
    text-align: center;
 }
 .main-header--keeper__img {
    margin-top: 1.5rem;
    text-align: center !important;
 }
 .main-header--keeper__img  img{
    width: 75%;
 }
 .main-header{
    height: 100vh;
 }
 .box-left__btn{
    width: 100%;
    text-align: center;
 }
 .values-card{
    margin-bottom: 2rem;
 }
 .info-card__caption--text__res{
    font-size: 1.2rem;
 }
}
@media screen and (max-width:992px) {
    .values-title{
        font-size: 2.8rem;
    }
    .info-card{
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width:768px) {
    .values-title{
        font-size: 2.5rem;
    }
    .info-card{
        margin-bottom: 1.5rem;
    }
}
@media screen and (max-width:480px) {
    .nav-btn{
        padding: .8rem 1rem;
    }
    .logo-name{
        font-size: 2rem;
    }
}
@media screen and (max-width:380px) {
    .logo-name{
        font-size: 2rem;
    }
    .nav-btn{
        padding: .8rem .9rem;
    }
    .main-header__title{
        font-size: 3rem;
    }
    .main-header__caption{
        font-size: 1.6rem;
    }
    .main-header--keeper__img {
        margin-top: 5rem !important;}
}
